<!-- <div [formGroup]="group"> -->
  <mat-form-field [formGroup]="form" class="control-width">
    <mat-label>{{labelText}}</mat-label>
    <div fxLayout="row">
      <input #textInput [formControlName]="key" autocomplete="on" (keyup)="onKeyUp($event)" matInput
        placeholder="{{placeholderText}}" value={{textValue}}  />
        <input [formControlName]="key+'Id'" type="text" hidden="true" matInput
        value={{dataId}}  />
      <mat-error *ngIf="form.get(key).hasError('incorrect')" class="lookup-error">Select Value</mat-error>
      <!-- <mat-error *ngIf="lookupModel.isRequired === true" class ="lookup-error">Value Is Required</mat-error>-->
      <mat-icon  mat-button matSuffix (click)="isDisable == true ? disable($event) :open($event)" class="lookup-icon" tooltip="Search" >search</mat-icon>
      <mat-icon  mat-button matSuffix (click)="isDisable == true ? disable($event) :lookupClear()" class="lookup-icon" tooltip="Clear" >clear</mat-icon>
    </div>
  </mat-form-field>
<!-- </div> -->


<div class="k-overlay" *ngIf="opened"></div>
<kendo-window [width]="lookupWidth"  
      *ngIf="opened" 
      [draggable]="true"
      (close)="onClose()">
     <kendo-window-titlebar class="border-style title">
     <div style="width: 95%">
      {{lookupModel.title}}
     </div>
    <button mat-raised-button color="primary" (click)="onOkClick()">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </kendo-window-titlebar>
  <app-lookup-grid-2 [lookupModel]="lookupModel" [filter]="filter" (gridRowDblClick)='onDblClick($event)'
    (selectedData)='onRowClick($event)'>
  </app-lookup-grid-2>
</kendo-window>
