/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 //overide mat dialog defaults
 .mat-dialog-container {
    max-width: 4000px !important;
}
// remove mat dialog max-width limit
// .cdk-overlay-pane{
//     max-width: none !important;
// }

.full-width {
    width: 98.3%;
}

//shared form styles
.control-width {
    width: 32%;
}
